@charset "utf-8";

/* 시작 화면 */
#start_page {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/intro.png) no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#start_page .intro-gif{
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
}

#start_page {
  opacity: 1;
  visibility: visible;
  transition: none;
}

#start_page.off {
  display: none;
}



.start_text {
  width: 634px;
  height: 259px;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
  background: url("../img/h1-text.png") no-repeat center;
  display:none;
}
.start_text.on{
  display:block;
}
.start_btn_area{
  margin-left:112px;
}

#start_page .start_btn {
  background: url(../img/start_btn_bg.png) no-repeat center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 483px;
  height: 204px;
  font-family: 'GmarketSans';
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  padding-bottom: 13px;
  display:none;
}
#start_page .start_btn.on{
  display:block;
}



/* 인트로 화면 */
#intro_page {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: url(../img/bg1_gif.gif) no-repeat center; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

#intro_page.off {
  display: none;
}

#intro_page .it-intro-txt {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%);
  font-family: 'GmarketSans';
  font-size: 40px;
  color: #fff;
}
#intro_page .it-intro-txt p{
  font-family: 'GmarketSans';
  font-size: 40px;
  color: #fff;
  line-height: 56px;
}

.starting_title>span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'HakgyoansimDotbogi';
  font-size: 150px;
  color: #002f4c;
  font-weight: 500;
  z-index: 10;
  letter-spacing: -5px;
  line-height: 180px;
  opacity: 0;
}

.title_mask {
  background: url(../img/intro_title_mask.png) no-repeat center;
  width: 685px;
  height: 354px;
  position: absolute;
  left: 616px;
  top: 358px;
  z-index: 5;
  opacity: 0;
}

.starting_title.on>span {
  opacity: 1;
  transition: opacity 1s linear;
}

.title_mask.on {
  opacity: 1;
  transition: opacity 1s linear;
}




/* ation_page */

.action_page {
  width: 100%;
  height: 100%;
  background: url(../img/bg1.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page.off {
  display: none;
}

.action_page.change {
  background: url(../img/bg2.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/bg2.png) no-repeat center/cover;
  /* 바뀔 배경 */
  clip-path: circle(0% at 0% 50%);
  /* 왼쪽에서 원형으로 시작 */
  opacity: 0;
  /* 처음엔 투명 */
  transition: clip-path 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.action_page02::before {
  clip-path: polygon(4.37% 23.42%,
      4.32% 28.24%,
      4.63% 63.52%,
      14.22% 63.70%,
      14.74% 63.89%,
      14.74% 95.19%,
      34.84% 95.19%,
      34.84% 23.80%,
      26.15% 23.80%,
      26.09% 25.28%,
      18.28% 25.28%,
      18.18% 24.26%,
      5.11% 22.68%);
  transition: clip-path 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.action_page03::before {
  clip-path: polygon(90.63% 32.13%, 89.84% 31.89%, 35.42% 31.89%, 34.79% 32.22%,
      34.58% 84.91%, 34.90% 85.83%, 89.84% 85.83%, 90.42% 85.60%,
      90.63% 84.91%);
}

.action_page04::before {
  clip-path: polygon(948px 434px,
      1685px 434px,
      1685px 998px,
      948px 998px);
}

.action_page05::before {
  clip-path: polygon(335px 644px, 837px 644px, 837px 944px, 335px 944px);
}


.action_page .action_title {
  position: relative;
  height: 140px;
  margin: 0 80px;
  text-align: left;
  line-height: 113px;
}

.action_page .action_title::before {
  content: "";
  display: block;
  background: url(../img/title_icon.png) no-repeat center;
  width: 41px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 47px;
}


.action_page .action_title>span {
  font-family: 'GmarketSans';
  padding-left: 70px;
  font-size: 42px;
  color: #fff;
}

.action_contents.off {
  display: none;
  opacity: 0;
}

.action_contents {
  height: 880px;
  padding-top: 137px;
  overflow: hidden;
  opacity: 0;
}

.action_contents .action_chartr_inner {
  align-items: flex-start;
}

.action_contents.opa {
  opacity: 1;
}

.action_contents.on {
  padding-top: 80px;
  overflow: hidden;
}


.click_img_tit {
  display: none;
}

.click_img_tit.on {
  display: block;
  opacity: 0;
}

.click_img_tit.on.opa {
  display: block;
  opacity: 1;
}

.action_page .flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 160px;
}

.action_page .flex_box.off {
  justify-content: center;
}

.action_page .flex_box.off .chartr-box {
  display: none;
}


.action_page .flex_box.off .click_img_box {
  opacity: 0;
}

.replace-box {
  position: relative;
  width: 578px;
  height: 717px;
}

.chartr-box {
  position: absolute;
}

.click_cont_box {
  position: absolute;
  display: none;
}

.click_cont_box.on {
  display: block;
}



.action_contents .action_chartr_wrap {
  width: 520px;
  height: 780px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.action_contents .action_chartr_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.action_contents .action_chartr {
  display: none;
}

.action_contents .action_chartr.on {
  display: block;
}

.action_contents .act_cont span.post.clicked::after {
  display: none;
}



.action_chartr_txt {
  position: relative;
}

.action_chartr_txt .action_chartr_cont {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  font-family: 'GmarketSans';
  color: #fff;
  width: 100%;
  z-index: 1;
}
.action_chartr_txt .action_chartr_cont p{
  font-size: 40px;
  font-family: 'GmarketSans';
  color: #fff;
  line-height:56px;
}

.action_chartr.on {
  display: block;
  opacity: 1;
}



.click_img_box {
  position: relative;
  cursor: pointer;
}

.click_box_txt {
  display: none;
}

.click_box_txt.on {
  display: block;
}


.click_cont_txt {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 46px;
  font-family: 'GangwonEduAll';
  font-weight: 500;
  letter-spacing: -1.1px;
  line-height: 1.6;
  text-align: justify;
  width: 100%;
}


/* action page02 */

.action_page.action_page02 {
  background: url(../img/bg1.png) no-repeat center;
  transition: none;
}



.action_page.action_page02.change {
  background: url(../img/bg3.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page.action_page02::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/bg1.png) no-repeat center/cover;
  clip-path: circle(0% at 0% 50%);
  opacity: 0;
  transition: clip-path 1.5s ease-in-out, opacity 1.5s ease-in-out;
}



.action_page.action_page02 .flex_box {
  padding: 0 180px 0 83px;
}

.action_page.action_page02 .flex_box.off {
  padding: 0 0 0 90px;
  justify-content: left;
  gap: 338px;
}

.action_page.action_page02 .action_contents {
  padding-top: 105px;
}

.action_page.action_page02 .action_contents.on {
  padding-top: 80px;
}


.action_page02 .action_title .home_btn.hide {
  display: none;
}





.click_cont_txt.on .click_cont_txt_inner {
  display: block;

}

.action_page .click_cont_txt_inner {
  padding: 70px 40px;

}

.action_page .click_cont_txt_inner p {
  font-size: 46px;
  font-family: 'GangwonEduAll';
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 1.6;
  text-align: justify;
  width: 100%;
}

.action_page01 .click_cont_txt_inner p:nth-child(2) {
  letter-spacing: 2.3px;
}

.action_page02 .click_cont_txt_inner p:nth-child(1) {
  letter-spacing: 2px;
}

.action_page02 .click_cont_txt_inner p:nth-child(4) {
  letter-spacing: -0.2px;
}

.action_page04 .click_cont_txt_inner p {
  letter-spacing: -1.2px;
}

.action_page04 .click_cont_txt_inner p:nth-child(1) {
  letter-spacing: 0.4px;
}

.action_page05 .click_cont_txt_inner p {
  letter-spacing: -0.6px;
}

.action_page05 .click_cont_txt_inner p:nth-child(2) {
  letter-spacing: 2px;
}

.action_page05 .click_cont_txt_inner p:nth-child(3) {
  letter-spacing: 1.5px;
}

.action_page05 .click_cont_txt_inner p:nth-child(4) {
  letter-spacing: 0.2px;
}


.nextslide_btn {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.nextslide_btn img {
  display: none;
  width: 100%;
  height: 100%;
  animation: glow 2s infinite ease-in-out;
}



@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
  }

  50% {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
  }

  100% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
  }
}



/* action page 03 */
.action_page.action_page03 {
  background: url(../img/bg1.png) no-repeat center;
  transition: none;
}

.action_page.action_page03.change {
  background: url(../img/bg4.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page03 .action_contents {
  padding-top: 116px;
  overflow: hidden;
}

.action_page03 .action_contents.on {
  padding-top: 77px;
  overflow: hidden;
}


.action_page.action_page03 .flex_box {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 26px;
  padding: 0px 0px 0 44px;
}

.action_page.action_page03 .flex_box.off {
  padding-left: 90px;
}

.action_page.action_page03 .flex_box.off .replace-box {
  padding-top: 52px;
}

.action_page.action_page03 .action_chartr_cont+img {
  transform: scaleX(-1);
}



.action_page03 .action_contents .action_chartr_inner {
  align-items: flex-end;
}



/* action_page04 */
.action_page.action_page04,
.action_page.action_page05 {
  background: url(../img/bg1.png) no-repeat center;
  transition: none;
}

.action_page.action_page04.change {
  background: url(../img/tablet-wholebg.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page04 .action_contents {
  padding-top: 140px;
  overflow: hidden;
}

.action_page04 .action_contents.on {
  padding-top: 80px;
  overflow: hidden;
}

.action_page.action_page04 .flex_box {
  padding: 0 200px 0 100px;
  align-items: flex-end;
}

.action_page.action_page04 .flex_box.off {
  padding: 0 0px 0 170px;
  justify-content: flex-start;
  gap: 150px;
}

.action_page.action_page04 .flex_box.off .replace-box {
  padding-top: 52px;
}
.action_page .on-box{
  display:none;
}
.action_page .on-box.move{
  display:block;
}

.floating-icon {
  position: absolute;
  width:100%;
  animation: shake 1.5s infinite ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.icon1 {
  top: 493px;
  right: 546px;
  width:311px;
}

.icon2 {
  bottom: 215px;
  right: 325px;
  width: 292px
}

.icon3 {
  bottom: 183px;
  right: 645px;
  width:218px;
}

@keyframes shake {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(1deg);
  }
}

/* action page 05 */

/* .action_page.action_page05 {
  background: url(../img/bg1.png) no-repeat center;
  transition: none;
} */

.action_page.action_page05.change {
  background: url(../img/bg6.png) no-repeat center;
  transition: background 1.5s linear;
}

.action_page05 .action_contents {
  padding-top: 143px;
  overflow: hidden;
  position: relative;
}

.action_page05 .action_contents.on {
  padding-top: 80px;
}

.action_page.action_page05 .flex_box {
  padding: 0 180px 0 333px;
  align-items: flex-end;
}

.action_page.action_page05 .flex_box .click_img_box {
  padding-bottom: 40px;
}



.action_page.action_page05 .flex_box.off .replace-box {
  padding-top: 65px;
}


.complete_obj .final_btn.off {
  display: none;
}

.action_page05 .home_btn.hide {
  display: none;
}

.action_page05 .complete_obj .final_btn,
.action_page05 .home_btn {
  position: absolute;
  top: 5%;
  right: 40px;
}

.action_page05 .home_btn {
  z-index: 99999;
}


.action_page05 .last-chartrt {
  position: absolute;
  left: 50px;
  bottom: 30px;
  display: none;
}

.action_page05 .last-chartrt.on {
  display: block;
}

.last-chartrt .action_chartr_inner {
  display: flex;
  align-items: flex-end;
}

.last-chartrt .action_chartr_inner .action_chartr_txt {
  padding-bottom: 30px;
  margin-left:-60px;
}


.last-chartrt .action_chartr_txt .action_chartr_cont {
  left: 53%;
}

.action_page .finger_ani {
  background: url(../img/isclick.png) no-repeat center;
  width: 97px;
  height: 98px;
  position: absolute;
  left: 193px;
  top: 233px;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s linear;
}

.action_page .finger_ani.on {
  opacity: 1;
  animation: blink-effect 2s 3 linear;
}

.action_page02 .final_btn {
  background: url(../img/final_btn.png) no-repeat center;
  width: 230px;
  height: 88px;
  font-family: '123RF';
  font-size: 34px;
  color: #fff;
  padding-bottom: 13px;
  position: absolute;
  right: 265px;
  bottom: 85px;
}

.action_page02 .final_btn.off {
  display: none;
}



/* 토스트 팝업 */
.toast_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
}

.toast_popup.on {
  display: block;
}

.toast_popup .inner {
  background: url(../img/toast_pop.png) no-repeat center;
  width: 659px;
  height: 417px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 80px;
  padding-bottom: 43px;
}

.toast_popup .inner .toast_popup_title {
  font-family: 'GmarketSans';
  font-size: 48px;
  font-weight: 500;
}

.toast_popup .inner .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}

.toast_popup .inner .btn_wrap>button {
  width: 210px;
  height: 88px;
  font-family: '123RF';
  font-size: 34px;
  color: #fff;
  padding-bottom: 13px;
}

.toast_popup .inner .btn_wrap .yes_btn {
  background: url(../img/yes_btn.png) no-repeat center;
}

.toast_popup .inner .btn_wrap .no_btn {
  background: url(../img/no_btn.png) no-repeat center;
}

/* 성공했을 때 나오는 배경 */
.complete_bg {
  display: none;
  width: 100%;
  height: 100%;
  /* background: url(../img/complete_bg.gif) no-repeat center; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.complete_bg.on {
  display: block;
}

.complete_bg .complete_stamp {
  display: none;
  background: url(../img/complete_stamp.png) no-repeat center;
  width: 256px;
  height: 256px;
  position: absolute;
  right: 100px;
  bottom: 70px;
  animation: stampani 1s ease 1;
}

.complete_bg .complete_stamp.on {
  display: block;
}



/* 배경음 버튼 */
.btn_sound {
  width: 80px;
  height: 88px;
  background: url(../img/btn_sound.png) no-repeat center / 100%;
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 11;
}

.btn_sound.off {
  background-image: url(../img/btn_sound_off.png);
}


/* blink */

.blink::after {
  content: '';
  display: block;
  width: 97px;
  height: 98px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/isclick.png);
  animation: blinkFade 1s infinite;
  z-index: 9999;
}

@keyframes blinkFade {

  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blink-effect {
  50% {
    opacity: 0.3;
  }
}

/* 도장 애니메이션 */
@keyframes stampani {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}